/*
** File Author: Aurelie Bonizio <bonizio.aurelie@gmail.com>
** Creation: 13/08/2O13
** Last Update: 13/08/2013
*/

/*            Common style               */

body
{
    padding-right:5%;
    padding-left:5%;
    border-left:0.5em ridge #58D317;
    border-right:0.5em ridge #58D317;
    margin-left:2%;
    margin-right:2%;
    margin-top:0.5%;
    margin-bottom:0.5%;
}

#content
{
    height:auto;
}

h1
{
    font-size:3em;
    text-align:center;
    text-shadow:0.05em 0.05em #BDBCBF;
}

a
{
    text-decoration:none;
}

#nav
{
    padding-bottom:1.5em;
}

#nav ul
{
    text-align:right;
    background-image:linear-gradient(to left, #679B00, #DAFB1F);
    padding-top:0.1em;
    padding-bottom:0.1em;
    padding-right:5%;
    paddin-right:5%;
}

#nav ul li
{
    font-size:1.3em;
    color:white;
    display:inline;
}

#nav ul li a
{
    color:white;
    text-decoration:none;
    margin-left:1em;
    margin:0em;
    padding-left:0.4em;
    padding-right:0.5em;
    padding-top:0em;
    padding-botton:0em;
    border-right:0em;
    border-left:0.1em solid white;
}

#nav ul li:hover
{
   background-color:#358907;
   background-image:linear-gradient(to left, #2E7509, #3AA600);
   border-bottom: 0.1em dotted white;
   padding-top:0em;
   padding-botton:0em;
}

input[type="submit"]
{
    font-size:1.3em;
    background:green;
    color:white;
    border-radius:1em 0;
    border:0.1em solid #58D317;
    padding:0.1em;
    padding-right:0.2em;
    padding-left:0.2em;
    font-family:Verdana, Geneva, sans-serif;
}

input[type="submit"]:hover
{
    background:#4AC509;
    border:0.1em solid green;
    color:black;
}
input[type="text"]
{
    background-color:#DAFF9A;
    height:2em;
    width:10em;
    font-size:1em;
    font-family:georgia,serif;
    border:0.1em solid #58D317;
}

input[type="password"]
{
    background-color:#DAFF9A;
    border:0.1em solid #58D317;
    height:2em;
    width:10em;
    font-size:1em;
}


/*            Home style                 */

#server_status
{
    text-align:center;
    font-size:1.5em;
    text-decoration:underline;
    font-family:"Courier New", Times, serif;
}

#server_status img
{
position:relative;
top:0.3em;
left:0.6em;
}

/*            Login style              */

#login_error
{
    color: red;
    font-weight:bold;
    text-align:center;
    margin-bottom:1em;
}

#login_form
{
    font-family:georgia,serif;
    text-align:center;
    font-size:1.3em;
    float:center;
    margin-left:auto;
    margin-right:auto;
}

#submit_cell
{
    margin-left:auto;
    margin-right:auto;
    padding-top:2em;
}

#login_form td
{
    padding-top:1.5em;
    padding-left:1.5em;
}


#login_form td
{
     font-family:georgia,serif;
}


/* Account style */

#account_inf
{
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
    padding-top:3em;
}


#account_inf td
{
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    border:0.2em solid white;
    vertical-align:center;
}
.login
{
    background-color:#8EDD08;
}
.email
{
    background-color:#BFEE70;
}

.first_name
{
    background-color:#8EDD08;
}

.last_name
{
    background-color:#BFEE70;
}

.birthday
{
    background-color:#8EDD08;
}

.last_connection
{
    background-color:#BFEE70;
}

.last_ip
{
    background-color:#8EDD08;
}

.logged
{
    background-color:#BFEE70;
}

.verified
{
    background-color:#8EDD08;
}

.cellL
{
    font-weight:bold;
    font-family:Arial, Times, serif;
}
.cellR
{
    text-align:center;
    font-family:georgia,serif;
}


/*        character list                 */

#head_char
{
    text-align:center;
    text-decoration:underline;
    font-size:1.3em;
    margin-bottom:2em;
}

.character_name
{
    font-family:Georgia, Times, serif;
    text-align:center;
    font-size:1.5em;
}

.character .cellL
{
    font-size:1.3em;
    font-weight:bold;
    text-align:center;
}

.character .cellR
{
    font-size:1.3em;
    text-align:center;
}

.character
{
    padding:2em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:4em;
    border-radius:1em 1em;
    border:0.1em solid black;
}

.type_priest
{
    background-image:radial-gradient(#A8B2FF,#6073FF);
}

.type_mage
{
    background-image:radial-gradient(#FF1D0B,#B82014);
}

.type_archer
{
    background-image:radial-gradient(#9BED00,#84B22D);
}

.type_warrior
{

    background-image:radial-gradient(white,#88946E);
}

.type_thief
{

    background-image:radial-gradient(#E9E954,#D0D01B);
}



.type_enginee
{

    background-image:radial-gradient(#FF8C29,#D06F1B);
}

/*       Register         */

#register_error
{
    color: red;
    font-weight:bold;
    text-align:center;
    margin-bottom:1em;
}

#register_form
{
    font-family:georgia,serif;
    text-align:center;
    font-size:1.3em;
    float:center;
    margin-left:auto;
    margin-right:auto;
}

#register_form td
{
    padding-top:1.1em;
    padding-left:1.5em;
}
.desc td
{
    color: grey;
    font-size:0.8em;
    font-family:none;
    font-style:italic;
}